#container {
    height: 90%;

    #health {
        position: absolute;
        top: 0;
        left: 0;
        margin: 20px;
    }

    #gold {
        position: absolute;
        top: 0;
        right: 0;
        margin: 20px;
    }

    #canvas {
        display: block;
    }
}

#toolbar {
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: space-around;

    #towerType {
        margin: 10px;
        box-sizing: border-box;
        border: 1px solid black;

        &.isSelected {
            background: red;
        }
    }
}
